

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ffffffcf;
    color: black;
  }

  main {
    flex: 1 0 auto;
    font-family: 'Work Sans', sans-serif; 
    margin:auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width:100%;

   
  }


 h6{
    font-family: monospace;
 }
  .des{
      font-family: monospace;
      margin-bottom: 30px;
  }
 h4{
    /* font-family: 'Noto Serif KR', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Work Sans', sans-serif; 
 }
 input-field{
    font-family: 'Work Sans', sans-serif; 
    padding: 10px;
 }
  input#name-input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 2rem;
    width: 91%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }



  .noUi-target {
    padding: 0 17px;
}
.noUi-base:before,
.noUi-base:after {
    width: 17px;
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    display: block;
}
.noUi-base:before {
    left: -17px;
}
.noUi-base:after {
    left: 100%;
}

input{
    font-size: 2rem;
}
input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0 1px 0 0 #fffcfc;
    box-shadow: 0 1px 0 0 #ffffff;
    background-color: bisque;
    font-size: 2 rem;
}

footer{
    color: black;
}

.footer-copyright{
    color: black;
}
.page-footer{
    background-color: transparent;
    
}

.btn{
        background-color: white;
        color: black;
        /* right: 100px; */
        float: right;
        right: 297px;
       
}
.btn:hover, .btn-large:hover {
    background-color: #000000;
}
.input-field{
    background-color: bisque;
    color: black;
    font-size: 2rem;
    height: 3.5rem;
    margin: 5px;
}

.select-dropdown{
    color: black;
}


input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 2rem;
    margin: 0 0 20px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #d7a01e;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 148px;
    height: 148px;
    border: 8px solid rgba(255, 15, 15, 0.7);
    position: absolute;
    /* top: 72px; */
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
  position: relative;
  /* top: 167px;
  right: 30px; */
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  left: 138px;
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}

blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #ecff00;
}

a{
    color: black;
}